#iconlist{
    top: 56px;
    left: 4px;
    height: 570px;
    overflow: auto;
}

#iconlist .item{
    border: 1px solid #9a9a9a;
    margin: 1px;
    padding: 1px;
}

#iconlist .item:hover{
    border: 1px solid #6690C4;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #dbb61c;
}


